tensor-flow-for-cnns/Classification/training_set/
tensor-flow-for-cnns/Classification/validation_set/
tensor-flow-for-cnns/Classification/training_set.zip
tensor-flow-for-cnns/Classification/validation_set.zip
curso-visao-computacional-2024/
disciplina-visao-computacional-ufscar/UnderstandingDeepLearning.pdf